// Write your styles here

body{
	background: $contentBackground;
	padding:0;
	margin:0;
}
.logo{
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
		img{
			align-self: center;
			margin-right: 15px;
		}
		p{
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-items: center;

			font-family: $secondaryFontFamily;
			font-size:map-get($fonts-size, "titles");
			font-weight: bold;
			line-height: 0.75em;
				span{
					font-family:$secondaryFontFamily;
					font-size:map-get($fonts-size, "logo-text");
					font-weight: normal;
				}
		}
}
.button{
		background-color:$buttonColor;
		border-color:$buttonColor;
		padding:10px;
		color:$buttonFontColor;
		width: 100px;
		font-family: $mainFontFamily;
}

@mixin gradientedBackground($startColor,$endColor){
	background:linear-gradient(to right, $startColor, $endColor);
}
.header{
	height: 100vh;
	.header-wrap{
		background-image:url($headerBackgroundImageUrl);
		background-size:cover;
		background-position: center left;
		border-radius:0 0 30vw/20vw 0;
		background-repeat: no-repeat;
		padding-left: 10%;
		padding-right: 10%;
		height: 100%;
		color:$mainFontColor;
		
		.landing-logo{
			@extend .logo;
			width:20%;
		}
		.header_heading{
			font-family: $mainFontFamily;
			font-size:map-get($fonts-size, "main-heading");
			font-weight: bold;
			width: 45%;
			position:relative;
			z-index: 0;
			&:before{
				position:absolute;
				content: " ";
				background-color: $lineColor; 
				height: 15px;
				width: 200px;
				margin-top:95px;
				z-index: -1;
			}
		}
		.header_text{
			margin-top:-30px;
			font-family: $secondaryFontFamily;
			color:$mainFontColor;
			font-size:map-get($fonts-size, "main-text");
			width:70%;
			white-space: pre-line;

		}
		.header_button{
			margin-top:20px;
			@extend .button;
		}
	}
}
.section{
	margin-left:10%;
	margin-right: 10%;
	position:relative;
	margin-bottom:10%;
	.section_text{
			text-align:center;
			color:$mainFontColor;
			font-size:map-get($fonts-size, "secondary-heading");
			font-family: $mainFontFamily;
			font-weight: bold;
			position:relative;
			z-index: 0;
			&:after{
				position:absolute;
				content: " ";
				background-color: $lineColor; 
				height: 15px;
				width: 180px;
				margin-top:28px;
				margin-left:-194px;
				z-index: -1;
			}
	}
	.section_card_wrap{
		display:flex;
		flex-direction: row;
		width:100%;
		justify-content: space-between;
		.section_card{
			width:29.5%;
			text-align:center;
			padding:0.75em;
			background: $colorCardsFooterBackground;
			
			.section_card_img{
				width:100%;
			}
			.section_card_heading{
				font-weight:bold;
				color:$cardTitleColor;
				z-index: 0;
				display: inline-block;
				position:relative;
				font-family: $mainFontFamily;
				font-size:map-get($fonts-size, "titles");
				span{
					width: 100%;
					height: 10px;
					background:$lineColor;
					position:absolute;
					left:0;
					top:20px;
					z-index: -1;
				}
			}
			.section_card_text{
				color:$secondaryFontColor;
				font-family: $secondaryFontFamily;
				font-size:map-get($fonts-size, "main-text");


			}
		}
	}
	.section_banner{
		position:absolute;
		display: flex;
		margin-left: 10%;
		margin-right: 10%;
		margin-top:100px;
		width: 80%;
		height: 100px;
		@include gradientedBackground($gradientedBackgroundLeftColor,$gradientedBackgroundRightColor);
		justify-content: space-around;
		.section_banner_text_wrap{
			.section_banner_heading{
				color:$mainFontColor;
				font-weight: bold;
				font-size:map-get($fonts-size, "titles");
				font-family:$mainFontFamily;
				line-height: 0.5em;
				position:relative;
				z-index: 0;
				&:after{
					position:absolute;
					content: " ";
					background-color: $lineColor; 
					height: 10px;
					width: 52px;
					margin-left:95px;
					margin-top:-5px;
					z-index: -1;
				}
			}
			.section_banner_text{
				color:$secondaryFontColor;
				font-size:map-get($fonts-size, "main-text");
				font-family:$secondaryFontFamily;
			}
			
		}
		.section_banner_button{
			@extend .button;
			align-self: center;
		}
	}
}

.footer{
	height: 40vh;
	display: flex;
	flex-direction: column;
	background-color:$colorCardsFooterBackground;
	padding-left:10%;
	padding-right:10%;
	margin-top:150px;
	justify-content: flex-end;
	font-family:$secondaryFontFamily;
	.footer-wrap{
		display: flex;
		flex-basis: auto;
		justify-content: space-between;
		color:$secondaryFontColor;
		.footer_logo{
			@extend .logo;
			width:33%;
			align-self: center;
			
		}
		.footer_text{
			width: 31%;
		}
		.footer-cr{
			width: 33%;
			align-self: center;
			text-align: right;
		}
	}
}