$contentBackground:#fff;
$headerBackgroundImageUrl:"../img/m-h-day.jpg";

$mainFontFamily:'Source Sans Pro',sans-serif;
$secondaryFontFamily:'Hind',sans-serif;

$fonts-size:("titles" : 1.5em, "logo-text" : 0.45em, "main-heading" : 3em, "main-text" : 1em, "secondary-heading" : 2.5em);

$mainFontColor:#2c2f3c;
$secondaryFontColor:#c0c3c4;

$buttonColor:#699900;
$buttonFontColor:#fff;

$lineColor:#14a0c7;

$colorCardsFooterBackground:#21232e;
$cardTitleColor:#ffffff;

$gradientedBackgroundLeftColor:#689803;
$gradientedBackgroundRightColor:#3361c2;