$contentBackground:#21232e;
$headerBackgroundImageUrl:"../img/m-h-night.jpg";

$mainFontFamily:'Source Sans Pro',sans-serif;
$secondaryFontFamily:'Fresca',sans-serif;

$fonts-size:("titles" : 1.5em, "logo-text" : 0.45em, "main-heading" : 3em, "main-text" : 1em, "secondary-heading" : 2.5em);

$mainFontColor:#ffffff;
$secondaryFontColor:#d1d1d1;

$buttonColor:#e3ac00;
$buttonFontColor:#ffffff;

$lineColor:#ff4e33;

$colorCardsFooterBackground:#3b3f50;
$cardTitleColor:#ffffff;

$gradientedBackgroundLeftColor:#e2aa01;
$gradientedBackgroundRightColor:#932e52;